body {
    background: linear-gradient(100deg, darkblue, rgb(160, 91, 91));
}
.container {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
}
label {
    font-size: 1.3em;
    font-style: italic;
}
input {
    width: 95%;
    font-size: 1.3em;
    padding: 10px;
}
.password{
    margin-top: 20px;
    margin-bottom: 20px
}
button{
    background-color: darkblue;
    color:white;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}